<ActionBar class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <ActionItem (tap)="logout()" ios.systemIcon="16" ios.position="right" text="Log Out" android.position="popup">
    </ActionItem>
    <Label [text]="businessObject.name" class="action-bar-label"></Label>
</ActionBar>

<StackLayout class="main" verticalAlignment="top">

    <GridLayout class="anim-cover" rows="auto" columns="*">
        <Image row="0" col="0" marginTop="-40" height="180" stretch="aspectFill" class="card-img" [src]="businessObject.image_url">
        </Image>
        <Label row="0" col="0" verticalAlignment="top" horizontalAlignment="left" (tap)="goBack()" fontSize="28"
            text="&#xf060;" class="fa close">
        </Label>
    </GridLayout>

    <ScrollView class="anim-images" orientation="horizontal">
        <StackLayout orientation="horizontal" class="">
            <GridLayout *ngFor="let imageString of businessObject.photos" rows="auto" columns="*">
                <Image class="card-img-thumb" row="0" col="0" [src]="imageString" stretch="aspectFill"></Image>
            </GridLayout>
        </StackLayout>
    </ScrollView>

    <GridLayout rows="auto,auto,auto,auto" columns="auto" class="content">

        <GridLayout *ngIf="businessObject" class="anim-itemInfo" marginTop="15" row="1" width="100%" columns="auto,*"
            rows="auto,auto,auto,auto" verticalAlignment="center">

            <Label row="0" col="1" class="item-name" textwrap="true" verticalAlignment="bottom" horizontalAlignment="left"
                [text]="businessObject.name"></Label>

            <Label row="1" col="1" class="item-category" textwrap="true" verticalAlignment="top" horizontalAlignment="left"
                [text]="businessObject.categories.title"></Label>
            <Label row="2" col="1" class="item-category" [text]="'Average Rate: ' + businessObject.rating "></Label>


            <StackLayout row="3" col="1" orientation="horizontal">
                <StarRating emptyBorderColor="white" emptyColor="white" filledBorderColor="black" filledColor="yellow"
                    [value]="businessObject.rating" max="5"></StarRating>
            </StackLayout>


        </GridLayout>

        <StackLayout class="line anim-likes" row="2" width="100%" marginTop="10"></StackLayout>

        <GridLayout *ngIf="businessObject" columns="auto,*,auto,auto" rows="auto" marginTop="5" width="100%" row="3"
            class="anim-likes">
            <!-- <GridLayout col="0" rows="auto" columns="auto,auto" (tap)="toggleLike(businessObject)">
                <Label col="0" row="0" #like
                    [class]="businessObject.isLike ? 'fa like-icon liked-active' : 'fa like-icon default'"
                    [text]="businessObject.isLike ? '&#xf164;':'&#xf087;'"></Label>
                <Label col="1" row="0" class="layout" [text]="businessObject.review_count"></Label>
            </GridLayout> -->
            <StackLayout col="1" orientation="horizontal" marginLeft="15">
                <Label ref="" class="like-icon layout fa" text="&#xf0e5;"></Label>
                <Label class="layout" [text]="businessObject.review_count"></Label>
            </StackLayout>
            <GridLayout col="2" rows="auto" columns="auto,auto" (tap)="toggleHeart(businessObject)" marginRight="15">
                <Label col="0" row="0" #favorite
                    [class]="businessObject.isFavorite ? 'like-icon fa heart-active' : 'like-icon fa default'"
                    [text]="businessObject.isFavorite ? '&#xf004;':'&#xf08a;'"></Label>
                <Label col="1" row="0" class="layout" text="Favorite"></Label>
            </GridLayout>
            <StackLayout col="3" orientation="horizontal">
                <Label ref="" class="like-icon layout fa" text="&#xf045;"></Label>
                <Label class="layout" text="Share"></Label>
            </StackLayout>

        </GridLayout>
    </GridLayout>

    <StackLayout width="100%" class="lineBreak anim-likes"></StackLayout>

    <Gridlayout rows="auto,*" class="content anim-content" marginTop="15">

        <GridLayout row="0" rows="auto" marginBottom="5" columns="auto, auto">
            <Label col="0" text="&#xf02c;" class="fa description-icon" textWrap="true"></Label>
            <Label col="1" class="description-text" text="Description" textWrap="true"></Label>
        </GridLayout>

        <StackLayout row="1">
            <ScrollView>
                <StackLayout verticalAlignment="top" horizontalAlignment="left" >
                    <Textview editable="false" class="description-value" textWrap="true" [text]="item" *ngFor="let item of businessObject.location.display_address"></Textview>
                </StackLayout>
            </ScrollView>
        </StackLayout>


    </Gridlayout>

</StackLayout>